<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/users.js"></script>
</head>
<body>
    <h1>Create User</h1>
    <header></header>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">

                <label class="control-label">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="First Name">
                <span class="help-block"></span>
                <div id="name-error" class="help-block"></div>
                
                <label class="control-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                <span class="help-block"></span>
                <div id="name-error" class="help-block"></div>

                <label class="control-label">username</label>
                <input type="text" class="form-control" id="username" placeholder="username">
                <span class="help-block"></span>
                <div id="name-error" class="help-block"></div>

                <label class="control-label">ID</label>
                <input type="text" class="form-control" id="userTaz" placeholder="ID">
                <span class="help-block"></span>
                <div id="price-error" class="help-block"></div>
                
                <label class="control-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password"/>
                <span class="help-block"></span>
                <div id="description-error" class="help-block"></div>
                
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                   <button onclick="createUser()" class="btn btn-default">Register</button>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>
