<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/dishes.js"></script>
</head>

<body>
<h1>Create dish</h1>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="name">
                <span class="help-block"></span>
                <div id="name-error" class="help-block"></div>
                <label class="control-label">Price</label>
                <input type="text" class="form-control" id="price" placeholder="price">
                <span class="help-block"></span>
                <div id="price-error" class="help-block"></div>
                <label class="control-label">Description</label>
                <input type="text" class="form-control" id="description" placeholder="description">
                <span class="help-block"></span>
                <div id="description-error" class="help-block"></div>
                <label class="control-label">Allergenics</label>
                <input type="text" class="form-control" id="allergenics" placeholder="allergenics">
                <span class="help-block"></span>
                <div id="allergenics-error" class="help-block"></div>
                <label class="control-label">Chef</label>
                <input type="text" class="form-control" id="chef" placeholder="chef">
                <span class="help-block"></span>
                <div id="chef-error" class="help-block"></div>
                <label class="control-label">Tags</label>
                <input type="text" class="form-control" id="tags" placeholder="tags">
                <span class="help-block"></span>
                <div id="tags-error" class="help-block"></div>
                <label class="control-label">Type</label>
                <input type="text" class="form-control" id="type" placeholder="type">
                <span class="help-block"></span>
            </div>
                <label class="imgUrl">Image URL:</label>
                <input type="text" class="form-control" id="imgUrl" placeholder="type">
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button onclick="createDish()" class="btn btn-default">Create</button>
            </div>
        </div>
    </div>
</body>