<table id = "Restaurant-tbl">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Cuisine</th>
            <th>Dishes</th>
            <th>Control</th>
        </tr>
    </thead>
</table> 
