<table id = "dishes-tbl">
    <thead>
        <tr>
            <th>Restaurant</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Allergenics</th>
            <th>Chef</th>
            <th>Tags</th>
            <th>Type</th>
            <th>Control</th>
        </tr>
    </thead>
</table>