<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="/assets/images/takeout-bag.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="/assets/images/takeout-bag.png">
    <title>About Us</title>
    <link rel="stylesheet" href="\css\forms.css"> 
</head>
<body>
    <header></header>

    <section class="label">
        <div class="about-content">
            <h2>About Us</h2>
            <p>Welcome to our food haven where flavors from around the globe converge. We are dedicated to curating a culinary experience that tantalizes your taste buds and transports you to distant lands through the art of food.</p>
            <p>With a passion for culinary exploration, we've embarked on a journey to discover exceptional dishes that represent the rich tapestry of cultures and traditions. Our mission is to bring you authentic flavors, prepared with love and care by our talented chefs.</p>
            <p>Every dish we offer tells a story – a story of heritage, creativity, and devotion. Whether you're a food enthusiast, a curious traveler, or simply someone who loves good food, we invite you to embark on this gastronomic adventure with us.</p>
            <p>Thank you for joining us on this flavorful journey!</p>
        </div>
    </section>

    <footer></footer>

    <script src="/js/common.js"></script>
</body>
</html>
