<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <section class="home">
  <h1>Welcome to Admin Page</h1>
  <p>View & Edit your Products!</p>
  <a class="read-more-btn" href="/admin/createDishForm">Add New Dish!</a>
<div class="carousel">
<a class="all-dishes-btn"href="/dishes"> See all dishes </a>
</div>
  <!-- Products carousel -->
  <!-- ... Include your carousel here -->
</section>

<script src="/js/common.js"></script>
<script src="/js/carousel.js"></script> // connect with edition carusel
<footer></footer>
</body>
</html>
