<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin View</title>
  <!-- Your CSS and other head content -->
  <link rel="icon" type="image/png" href="/assets/images/takeout-bag.png">
  <link rel="stylesheet" href="/css/admin.css"> <!-- Include your custom CSS file -->

</head>
<body>
  <header></header>
  <!-- Your HTML content for the admin view -->
  <h1>Welcome to Admin View</h1>
  <!-- ... Other content specific to the admin view -->
  <div class="button-container">
    <a class="admin-button" href="/admin/createDishForm">Create Dish Form</a>
    <a class="admin-button" href="/admin/manageDishesForm">Manage Dishes Form</a>
    <a class="admin-button" href="/admin/createRestaurantForm">Create Restaurant Form</a>
    <a class="admin-button" href="/admin/manageRestaurantsForm">Manage Restaurants Form</a>
    <a class="admin-button" href="/admin/createAdminForm">Create Admin Form</a>
    <a class="admin-button" href="/admin/manageAdminsForm">Manage Admins Form</a>
    <h2>Sales:</h2>
    <iframe src="graphs.html" style="width:80vh; height: 80vh;"></iframe>
  </div>
  <!-- Include the Socket.io library -->
  <!-- <script src="/socket.io/socket.io.js"></script>

   Your client-side script specific to the admin view
  <script>
    // const socket = io(); // Connect to the websocket server for admin view

    // Handle incoming events from the server for admin view
    // socket.on('adminEvent', (data) => {
      // Do something with the data received from the server for admin view
    // });

    // Send data to the server for admin view
    // socket.emit('adminEvent', dataToSend); -->
  </script> 
  <footer></footer>
</body>
</html>
<!-- Add a logout button or link -->

<script src="/js/common.js"></script>
<script src="/js/logout.js"></script>


