<!DOCTYPE html>
<html lang="en">
<head>
  <!-- ... Your head content -->
  <link rel="stylesheet" href="/css/dishes.css" />
</head>
<body>
  <header></header>

  <section class="dishes">
    <h1>your Delicious Dishes</h1>
    <h2>Max Price:</h2>
    <input type="number" id="max-price"/>
    <button id="search-button">search</button>
    <div class="dishes-list">
    <% dishes.forEach(dish => { %>
      <div class="dish">
        <img class="dish-img" src="<%=dish.imgUrl%>"/>
        <h2><%= dish.name %></h2>
        <p><%= dish.description %></p>
        <p>Price: <%= dish.price %></p>
        <!-- Add more details or formatting as needed -->
      </div>
    <% }); %>
  </div>
  </section>

  <script src="/js/common.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/dishes.js"></script>
  <footer></footer>
</body>
</html>
