
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="icon" type="image/png" href="/assets/images/takeout-bag.png">

</head>
<body>
  <header></header>

  <section class="login">
    <h1>Login</h1>
    <div class="error-msg"><%= errors ? errors[0] : '' %></div>
    <form id="loginForm" method="POST" action="/login">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" value="<%= username %>" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Log In</button>
    </form>
  </section>

  <footer></footer>

  <script src="/js/common.js"></script>
  <!-- <script src="/js/login.js"></script> -->
</body>
</html>
