<!-- views/userArea.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Area: <%= user.firstName%></title>
</head>
<body>
    <header></header>
    <h1>Welcome to Your User Area</h1>
    <p>Username: <%= user.username %></p>
    <!-- Display other user information as needed -->
    <footer></footer>
</body>
<script src="/js/common.js"></script>
</html>
