/* Add this to your carousel.css file */

@font-face {
  font-family: 'Poppins-GoogleFonts';
  src: url('../assets/fonts/Poppins-Black.woff') format('woff'),
       url('../assets/fonts/Poppins-BlackItalic.woff') format('woff'),
       url('../assets/fonts/Poppins-Bold.woff') format('woff'),
       url('../assets/fonts/Poppins-BoldItalic.woff') format('woff'),
       url('../assets/fonts/Poppins-ExtraLight.woff') format('woff');
}

/* Reset default margin and padding for elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a common font style */
body {
  font-family: 'Poppins-GoogleFonts', sans-serif;
}

/* Styling for the carousel wrapper */
.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Styling for the carousel container */
.carousel {
  position: relative;
  overflow: visible;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the carousel content */
.carousel-container {
  display: flex;
  justify-content: center; /* Center the active product */
  align-items: flex-start; /* Align items to the top */
  transition: transform 5s ease-in-out;
  flex-wrap: nowrap;
  margin-bottom: 20px; /* Add some space at the bottom */
  margin-top: 10px; /* Adjust margin-top as needed */
}

/* Styling for each product within the carousel */
.carousel-container > .product {
  flex: 0 0 calc(100% / 3);
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the product name and Price */
.product h2, .product span {
  margin-top: 10px;
}

/* Styling for the navigation arrows */
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25%; /* Make the arrows round */
  margin-left: 11vw;
  margin-right: 12vw;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

/* Styling for the indicator circles */
.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align at the bottom */
  width: 100%; /* Stretch the indicator circles across the carousel */
  margin-top: 20px; /* Adjust the margin as needed */
  margin-bottom: 10px; /* Move the indicators to the bottom */
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #999;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: #333;
}

/* Styling for the "See All Dishes" button */
.carousel-cta {
  text-align: center;
  margin-top: 20px;
}

.all-dishes-btn {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Media query for screens smaller than 768px */
@media (width: 768px) {
  .carousel {
    height: auto; /* Adjust as needed */
  }

  .carousel-container {
    flex-direction: column;
    align-items: center;
  }

  .product {
    flex: 0 0 90%; /* Adjust as needed */
  }
}
