<!-- header.html -->
<head>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="icon" type="image/png" href="/assets/images/takeout-bag.png">
</head>
<a href="index.html">
<img class= "logo" src="/assets/images/FlavorFeed.png" alt="FlavorFeed"/>
<header>
</a>
    <nav>
      <!-- Navigation menu links -->
      <a href="/">Home</a>
      <a href="/dishes">Dishes</a>
      <a href="/about">About</a>
      <!-- ... Add more links as needed -->
    </nav>
    <div class="user-area">
      <a href="/shoppingCart"><img class ="shoppingCart-logo" src="/assets/images/shopping-cart.png"></a>
      <a href="/login"><img class ="login-logo" src="/assets/images/login.png"></a>
      <a href="/logout"><img class ="logout-logo" src="/assets/images/logout.png"></a>
    </div>
  </header>
  